<a href="https://colab.research.google.com/github/GAZ082/CDATOS/blob/main/Intro%20SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importo librerías.

In [ ]:
!pip install Faker
!pip install pandas

Collecting Faker
  Downloading faker-37.5.3-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.2)
Downloading faker-37.5.3-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 15.9 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-37.5.3
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Genero la BD SQLite con datos ficticios.

In [ ]:
import sqlite3
from faker import Faker
import random

# Conectar a la base de datos (creará el archivo si no existe)
conn = sqlite3.connect('empleados.db')
cursor = conn.cursor()

cursor.executescript('''
DROP TABLE IF EXISTS empleados;
CREATE TABLE empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pais TEXT NOT NULL,
    nombre TEXT NOT NULL,
    edad INTEGER,
    puesto TEXT,
    activo INTEGER CHECK(activo IN (0, 1)),
    sueldo REAL
);
''')

fake = Faker('es_ES') # Generar datos en español

for _ in range(10000):
    pais = fake.country()
    nombre = fake.name()
    edad = random.randint(22, 65)
    puesto = fake.job()
    activo = random.choice([0, 1])
    sueldo = round(random.uniform(25000.00, 150000.00), 2)

    cursor.execute('''
    INSERT INTO empleados (pais, nombre, edad, puesto, activo, sueldo)
    VALUES (?, ?, ?, ?, ?, ?)
    ''', (pais, nombre, edad, puesto, activo, sueldo))

conn.commit()
conn.close()

In [ ]:
# @title Consulta {"run":"auto","form-width":"400px"}
import sqlite3
import pandas as pd

conn = sqlite3.connect('empleados.db')

query = "select * from empleados order by edad;" # @param {"type":"string","placeholder":"select * from empleados;"}

df = pd.read_sql_query(query, conn)
conn.close()

df

,id,pais,nombre,edad,puesto,activo,sueldo
0,9,Kuwait,Leocadia Almagro Lumbreras,22,Profesional de la protección medioambiental,0,126233.70
1,129,Samoa,Martina Garzón Batlle,22,Limpiador de fachadas,1,70168.64
2,155,Trinidad y Tabago,Cosme Giner,22,Arquitecto,1,66772.61
3,244,Bélgica,Adelardo Fuertes Velasco,22,Operario en cemento armado y enfoscador,1,116689.70
4,307,Bolivia,Leire Teruel Escudero,22,Agrónomo,0,56868.84
...,...,...,...,...,...,...,...
9995,9799,Japón,Berta del Casals,65,Especialista en ciencias políticas,1,98014.12
9996,9854,Somalia,Bernardino Moya Alcántara,65,Desarrollador de software,0,101838.31
9997,9858,Timor-Leste,Francisco Múgica Luque,65,Ayudante de cocina,1,96986.04
9998,9920,Rwanda,Esteban Fernández Pintor,65,Director de políticas y planificación,0,131572.46
9999,9974,Djibouti,Begoña Crespi Bermejo,65,Artista plástico,0,46638.82

In [ ]:
# @title Enter your SQL query here